BasedOnStyle: LLVM

AccessModifierOffset: -4

AlignAfterOpenBracket: true

AlignConsecutiveAssignments: true

AlignConsecutiveDeclarations: true

AlignEscapedNewlines: true

AlignOperands: true

AlignTrailingComments: true

AllowAllArgumentsOnNextLine: false

AllowAllConstructorInitializersOnNextLine: false

AllowAllParametersOfDeclarationOnNextLine: false

AllowShortBlocksOnASingleLine: true

AllowShortCaseLabelsOnASingleLine: true

AllowShortFunctionsOnASingleLine: All

AllowShortIfStatementsOnASingleLine: true

AllowShortLoopsOnASingleLine: true

AlwaysBreakBeforeMultilineStrings: true

BinPackArguments: false

BinPackParameters: false

BreakBeforeBinaryOperators: All

BreakBeforeTernaryOperators: true

ColumnLimit: 80

ConstructorInitializerAllOnOneLineOrOnePerLine: true

FixNamespaceComments: false

IndentWidth: 4

ReflowComments: false

SpaceAfterCStyleCast: true

SpaceAfterTemplateKeyword: true

SpaceBeforeAssignmentOperators: true

SpaceBeforeCtorInitializerColon: true

SpaceBeforeInheritanceColon: true

SpaceBeforeRangeBasedForLoopColon: true

SpaceInEmptyParentheses: false

SpacesBeforeTrailingComments: 8

SpacesInAngles: true

SpacesInCStyleCastParentheses: true

SpacesInContainerLiterals: true

SpacesInParentheses: true

SpacesInSquareBrackets: false

TabWidth: 4

UseTab: false